@{
    ViewBag.Title = "CancelOrder";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="content">
    <div class="top">
        <div class="left">
        </div>
        <div class="right">
        </div>
        <div class="center">
            <h1>
                CancelOrder</h1>
        </div>
    </div>
    <div class="middle">
        
        Order Cancel

        <div class="buttons">
            <table>
                <tbody>
                    <tr>
                        
                        <td align="right">
                            <a class="button" href="@Url.Action("List","Food")">
                                <span>Home</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bottom">
        <div class="left">
        </div>
        <div class="right">
        </div>
        <div class="center">
        </div>
    </div>
</div>