@using eCommerce.WebUI.HtmlHelper
@model eCommerce.Model.Entities.Cart
@{
    Layout = null;
}
<div id="cart_in_header">
    @{

        <p class="header_info">
            @Html.ActionLink("Checkout", "Index", "Cart", new { returnUrl = Request.Url.PathAndQuery }, new { id = "learn_more" })
        </p>
        <p class="header_info">
            Items:
        </p>
        <p class="header_numbers">
            @Model.Items.Sum(x => x.Quantity)</p>
        <p class="header_info">
            Total:
        </p>
        <p class="header_numbers">
            @Model.ComputeTotalValue().ToString("c")</p>
    }
</div>
