@model IEnumerable<Model.FOOD>

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browse</h2>

<ul>
    @foreach (var food in @Model)
    {
        <li>
            @Html.ActionLink(food.Name,"Detail",new {id = food.ID})
        </li>
    }

</ul>