@model IEnumerable<eCommerce.Model.FOOD>

@{
    ViewBag.Title = "List Food";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="top">
    <div class="center"><h2>List Food</h2></div>
</div>
