@using System.Diagnostics
@using System.Globalization
@using eCommerce.WebUI.HtmlHelper
@using eCommerce.WebUI.Models
@model FoodListViewModel
@{
    ViewBag.Title = "List Food";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="top">
    <div class="center">
        <div class="heading">
            Food List</div>
    </div>
</div>
<div class="middle">
    @foreach (var food in Model.Foods)
    {
        Html.RenderPartial("FoodSummary", food);
    }
</div>
<div class="page-link">
    Page: @PagingHelper.PageLinks(Model.PagingInfo,x => Url.Action("List", new {page = x}))
</div>
