@model IEnumerable<eCommerce.Model.Entities.Food>

@{
    ViewBag.Title = "List";
}

@foreach (var p in Model)
{
    <div class="item">
    <h3>@p.Name</h3>
    <h4>@p.Price.ToString("c")</h4>
    </div>
}

<h2>List</h2>
